<!DOCTYPE html>
<html>
<head>
    <title>{{subject.name}}</title>
    <style>
        body {
            background-color: #b7a1a1;
            font-family: Arial, sans-serif;
            margin: 0;
        }
        
        h1 {
            font-size: 48px;
            color: #050303;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 20px;
            text-shadow: 2px 2px #837777;
        }

        .subject-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #FFF1F1;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            margin: 50px auto;
            max-width: 600px;
            text-align: center;
        }

        .subject-info div {
            font-size: 32px;
            color: #F26B6B;
            margin-top: 20px;
            font-weight: bold;
            text-shadow: 1px 1px #F2BDBD;
        }

        .subject-info span {
            font-size: 28px;
            color: #333;
            margin-top: 10px;
            text-shadow: 1px 1px #F2BDBD;
        }

        .subject-info .code {
            color: #000000;
            font-size: 30px;
            font-weight: bold;
            text-shadow: 1px 1px #F2BDBD;
        }

        .subject-info .department {
            margin-top: 30px;
            font-size: 36px;
            color: #5a4848;
            text-shadow: 1px 1px #F2BDBD;
        }

        .subject-info .department span {
            color: #555;
            font-weight: normal;
            font-size: 24px;
            text-shadow: 1px 1px #4f2525;
        }

        @media screen and (max-width: 768px) {
            .subject-info {
                padding: 20px;
            }

            h1 {
                font-size: 36px;
                margin-top: 30px;
                margin-bottom: 10px;
            }

            .subject-info .department {
                font-size: 28px;
            }

            .subject-info .department span {
                font-size: 20px;
            }
        }
    </style>
</head>
<body>
    <h1>{{subject.name}}</h1>
    <div class="subject-info">
        <div>CODE</div>
        <span class="code">{{subject.code}}</span>
        <div>Department</div>
        <div class="department">{{subject.department.name}}<br>
        <span>{{subject.department.location}}</span>
        </div>
    </div>
</body>
</html>